*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier New, monospace;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 15%;
}
.myDisplay, .opponentsDisplay{
    width: 550px;
    height: 400px;
    background-color: rgb(41,39,40);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#yourScore, #opponentScore{
    color: white;
    font-size: 48px;
    background-color: rgb(10,10,10);
    width: 100%;
    text-align: center;
}
#playerPick{
    width: 300px;
    height: 300px;
    padding-top: 50px;
}
#opponentsPickPick{
    width: 300px;
    height: 300px;
    padding-top: 50px;
    transform: scaleX(-1);
}
.resultsDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btnField{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    width: 40%;
    padding-top: 20px;
}
.btn{
    width: 150px;
    height: 150px;
    background: none;
    outline: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
}
.optionBtn{
    width: 148px;
}

.restart{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
#yesResetBtn{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(116,218,226);
}
#noResetBtn{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(239,84,128);
}
#yesResetBtn:hover, #noResetBtn:hover{
    transform: scale(1.05);
}
.yesOption{
    border: 2px solid rgb(96,17,85);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: rgb(255,222,85);
}
.noOption{
    border: 2px solid rgb(96,17,85);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: rgb(255,222,85);
}
.hide{
    display: none;
}